* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --yellow: #fde803;
    --pink: #fd0d51;
    --pink-dark: #c61b63;
    --light-gray: #f2f2f2;
    --dark: #1a1a1a;
    --light-blue: #bdccd4;
}
::selection {
    background: var(--yellow);
}
body {
	font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, p {
    margin-bottom: 1rem;
    color: var(--dark);
}
h2 { font-size: 1.5em; line-height: 1.5em;}
p { font-size: 1.25em; line-height: 1.4em;}

button {
	padding: 10px 20px;
	border-radius: 50px;
    border: 0;
    background: var(--yellow);
}
button a {
    font-size: 1.2em;
    color: var(--dark);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
img {
	width: 100%;
}
/*-------------------------------------------------
 # Predeterminado
-------------------------------------------------*/
.section {
	width: 100%;
	display: flex;
	justify-content: center;
}
.container {
	max-width: 1100px;
	width: 100%;
	padding: 100px 50px;
}
.container:first-child {
    padding: 150px 50px 100px;
}
/*-------------------------------------------------
 # Story
-------------------------------------------------*/
#story {
    background: linear-gradient(var(--pink), var(--pink-dark));
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#story .container {
    display: flex;
    padding-bottom: 20px;
}
.card {
	width: 25%;
    padding: 12px;
    z-index: 1;
}
#story p {
    color: white;
    font-size: 1em;
    line-height: 1.7em;
}
#story .video {
    margin: 0 auto;
    margin-bottom: 100px;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px 18px 10px 15px;
    background: var(--dark);
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#story .play-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
/*-------------------------------------------------
 # Video popup
-------------------------------------------------*/
#video-demo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 5;
    display: none;
}
#video-demo.show-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Button */
#video-demo button {
    position: fixed;
    right: 50px;
    top: 50px;
    padding: 0;
    cursor: pointer;
}
#video-demo button p {
    padding: 0px 10px 3px 10px;
    font-size: 1.5em;
    margin: 0;
}
/* Video */
iframe {
    width: 300px;
    height: 550px;
}
/*-------------------------------------------------
 # Circles
-------------------------------------------------*/
.circle {
    border-radius: 50%;
    background: linear-gradient(to right, var(--pink), var(--pink-dark));
    opacity: 50%;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 0;
}
.circle.one {
    width: 600px;
    height: 600px;
    top: -20%;
    left: -20%;
}
.circle.two {
    width: 130px;
    height: 130px;
    top: 15%;
    right: 20%;
}
.circle.three {
    width: 450px;
    height: 450px;
    bottom: -50%;
    right: 15%;
}
/*-------------------------------------------------
 # Why Facebook
-------------------------------------------------*/
#why-facebook {
    background: var(--light-gray);
}
#why-facebook .container {
    display: flex;
}
.part-one, .part-two {
    width: 50%;
}
#why-facebook .part-one {
    padding-right: 8%;
}
/*-------------------------------------------------
 # Shop functions
-------------------------------------------------*/
#shop-functions {
    background: var(--light-blue);
}
#shop-functions .container {
    display: flex;
    flex-direction: row-reverse;
}
#shop-functions .part-one {
    padding-left: 8%;
}
/*-------------------------------------------------
 # Contact
-------------------------------------------------*/
#contact {
    background: black;
    flex-direction: column;
    text-align: center;
    padding: 100px 50px;
}
#contact h2 {
    max-width: 800px;
}
#contact p {
    max-width: 600px;
}
#contact p,
#contact h2 {
    color: white;
    margin: 0 auto;
    margin-bottom: 1em;
}
#contact h2 {
    font-size: 1.8em;
}
/*-------------------------------------------------
 # Contact
-------------------------------------------------*/
@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    /* Story - header */
    .circle.one {
        width: 500px;
        height: 500px;
    }
    .circle.two {
        width: 100px;
        height: 100px;
    }
    .circle.three {
        width: 400px;
        height: 400px;
        bottom: -35%;
        right: 15%;
    }
}
@media screen and (max-width: 750px) {
    /* Story - header */
    #story .container {
        flex-wrap: wrap;
    }
    #story .card {
        width: 50%;
        padding: 30px;
    }
    .circle.one {
        width: 600px;
        height: 600px;
        top: -20%;
        left: -20%;
    }
    .circle.two {
        width: 130px;
        height: 130px;
        top: 40%;
        right: 10%;
    }
    .circle.three {
        width: 550px;
        height: 550px;
        bottom: -20%;
        right: -5%;
    }
    /* Why facebook */
    #why-facebook .container {
        flex-direction: column;
    }
    #why-facebook .part-one,
    #shop-functions .part-one {
        padding: 0;
    }
    .part-one, .part-two {
        width: 100%;
    }
    /* Shop functions*/
    #shop-functions .container {
        flex-direction: column;
    }
}
@media screen and (max-width: 425px) {
    /* Predeterminado */
    .container:first-child {
        padding: 80px 50px;
    }
    /* Story */
    #story .card {
        width: 100%;
        padding: 0;
    }
    .circle.one {
        left: 40%;
    }
    .circle.two {
        right: -5%;
    }
    .circle.three {
        bottom: -15%;
        right: -50%;
    }
    /* Contact */
    #contact {
        text-align: left;
    }
}